<a href="https://colab.research.google.com/github/CarloR04/Challenge-Telcom_X/blob/main/Telcom_X.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Telcom_X**

Has sido contratado como asistente de an치lisis de datos en Telecom X y formar치s parte del proyecto "Churn de Clientes". La empresa enfrenta una alta tasa de cancelaciones y necesita comprender los factores que llevan a la p칠rdida de clientes.

Tu desaf칤o ser치 recopilar, procesar y analizar los datos, utilizando Python y sus principales bibliotecas para extraer informaci칩n valiosa. A partir de tu an치lisis, el equipo de Data Science podr치 avanzar en modelos predictivos y desarrollar estrategias para reducir la evasi칩n.

## 游늷 **Extracci칩n**

In [3]:
import pandas as pd

In [4]:
df = pd.read_json('/content/drive/MyDrive/Colab_Notebooks/ALURA/Challenge Telcom_X/TelecomX_Data.json')
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [11]:
## Para normalizar los datos de JSON anidado

#Importando el m칩dulo JSON
import json

#Leyendo el archivo json usando el m칩dulo Python JSON
with open('/content/drive/MyDrive/Colab_Notebooks/ALURA/Challenge Telcom_X/TelecomX_Data.json','r') as f:
    datos = json.loads(f.read())

df_norm = pd.json_normalize(datos)
pd.set_option('display.max_columns', None) # Para que se muestren el total de columns
df_norm.head()

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,internet.OnlineSecurity,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

## 游댢 **Transformaci칩n**

### **Analisis Inicial de los Datos**

In [6]:
df_norm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [7]:
df_norm.shape

(7267, 21)

In [8]:
df_norm.dtypes

customerID                    object
Churn                         object
customer.gender               object
customer.SeniorCitizen         int64
customer.Partner              object
customer.Dependents           object
customer.tenure                int64
phone.PhoneService            object
phone.MultipleLines           object
internet.InternetService      object
internet.OnlineSecurity       object
internet.OnlineBackup         object
internet.DeviceProtection     object
internet.TechSupport          object
internet.StreamingTV          object
internet.StreamingMovies      object
account.Contract              object
account.PaperlessBilling      object
account.PaymentMethod         object
account.Charges.Monthly      float64
account.Charges.Total         object
dtype: object

In [9]:
print('--- Verificaci칩n de valores nulos (NaN/None) ---')
null_counts = df_norm.isnull().sum()
null_columns = null_counts[null_counts > 0]
if not null_columns.empty:
    print(null_columns)
else:
    print('No hay valores nulos en el DataFrame.')

print('\n--- Verificaci칩n de espacios vac칤os o solo espacios en columnas de texto ---')
empty_space_found = False
for col in df_norm.select_dtypes(include='object').columns:
    # Comprobar si hay cadenas de text vac칤as o cadenas con solo espacios en blanco
    empty_spaces = df_norm[df_norm[col].astype(str).str.strip() == ''].shape[0]
    if empty_spaces > 0:
        print(f"Columna '{col}': {empty_spaces} filas con espacios vac칤os o solo espacios.")
        empty_space_found = True
if not empty_space_found:
    print('No se encontraron espacios vac칤os o solo espacios en columnas de texto.')

--- Verificaci칩n de valores nulos (NaN/None) ---
No hay valores nulos en el DataFrame.

--- Verificaci칩n de espacios vac칤os o solo espacios en columnas de texto ---
Columna 'Churn': 224 filas con espacios vac칤os o solo espacios.
Columna 'account.Charges.Total': 11 filas con espacios vac칤os o solo espacios.

In [15]:
df_norm['Churn'].unique()

array(['No', 'Yes', ''], dtype=object)

In [16]:
df_norm['account.Charges.Total'].unique()

array(['593.3', '542.4', '280.85', ..., '742.9', '4627.65', '3707.6'],
      dtype=object)

Realizando el analisis exploratorio inicial identificamos que para la columnas **'Churcn'** hay presencia se espacios vacios, por lo que se deben rellenar para poder obtener un analisis mejor de los datos.

En el caso de la Columana **'account.Charges.Total'** se observan espacios vacios y dytipe incorrecta por lo que se debe colocar el dytipe acorde y rellenar los espacios vacios.  

Ahora analicemos los dem치s campos:

#### **Strings**

In [69]:
df_norm.sample(10)

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,internet.OnlineSecurity,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
1134,1600-DILPE,No,Female,0,No,No,12,Yes,No,DSL,No,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),45.00,524.35
743,1063-DHQJF,No,Male,0,Yes,Yes,69,Yes,No,Fiber optic,No,Yes,No,Yes,Yes,No,Two year,Yes,Mailed check,92.15,6480.9
5824,7968-QUXNS,No,Male,0,No,No,6,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,18.95,110.15
6076,8295-KMENE,No,Female,0,Yes,Yes,59,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Mailed check,76.45,4519.5
4327,5943-PWAPA,,Female,0,Yes,No,53,Yes,No,Fiber optic,No,No,No,Yes,Yes,Yes,One year,Yes,Electronic check,93.45,4872.2
567,0812-WUPTB,Yes,Male,1,Yes,No,1,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,No,Mailed check,70.85,70.85
2458,3426-NIYYL,Yes,Male,0,No,No,15,Yes,Yes,DSL,No,No,No,No,No,No,Month-to-month,No,Electronic check,51.55,765.5
4415,6047-SUHPR,No,Male,0,Yes,Yes,39,Yes,No,DSL,Yes,Yes,Yes,No,No,No,One year,No,Electronic check,59.80,2343.85
1427,2055-BFOCC,No,Male,1,Yes,No,63,Yes,No,DSL,Yes,Yes,Yes,Yes,Yes,Yes,One year,Yes,Bank transfer (automatic),84.00,5329.55
5561,7606-GWMKE,,Male,0,No,Yes,21,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,24.70,467.15

In [52]:
## Analizamos para los datos con type object
print(f'Valores unicos customerID: {df_norm['customerID'].unique()} y su tipo de datos es: {df_norm['customerID'].dtype}')
print(f'Valores unicos customer.gender: {df_norm['customer.gender'].unique()} y su tipo de datos es: {df_norm['customer.gender'].dtype}')
print(f'Valores unicos customer.Partner: {df_norm['customer.Partner'].unique()} y su tipo de datos es: {df_norm['customer.Partner'].dtype}')
print(f'Valores unicos customer.Dependents: {df_norm['customer.Dependents'].unique()} y su tipo de datos es: {df_norm['customer.Dependents'].dtype}')
print(f'Valores unicos phone.PhoneService: {df_norm['phone.PhoneService'].unique()} y su tipo de datos es: {df_norm['phone.PhoneService'].dtype}')
print(f'Valores unicos phone.MultipleLines: {df_norm['phone.MultipleLines'].unique()} y su tipo de datos es: {df_norm['phone.MultipleLines'].dtype}')
print(f'Valores unicos internet.InternetService: {df_norm['internet.InternetService'].unique()} y su tipo de datos es: {df_norm['internet.InternetService'].dtype}')
print(f'Valores unicos internet.OnlineSecurity: {df_norm['internet.OnlineSecurity'].unique()} y su tipo de datos es: {df_norm['internet.OnlineSecurity'].dtype}')
print(f'Valores unicos internet.OnlineBackup: {df_norm['internet.OnlineBackup'].unique()} y su tipo de datos es: {df_norm['internet.OnlineBackup'].dtype}')
print(f'Valores unicos internet.DeviceProtection: {df_norm['internet.DeviceProtection'].unique()} y su tipo de datos es: {df_norm['internet.DeviceProtection'].dtype}')
print(f'Valores unicos internet.TechSupport: {df_norm['internet.TechSupport'].unique()} y su tipo de datos es: {df_norm['internet.TechSupport'].dtype}')
print(f'Valores unicos internet.StreamingTV: {df_norm['internet.StreamingTV'].unique()} y su tipo de datos es: {df_norm['internet.StreamingTV'].dtype}')
print(f'Valores unicos internet.StreamingMovies: {df_norm['internet.StreamingMovies'].unique()} y su tipo de datos es: {df_norm['internet.StreamingMovies'].dtype}')
print(f'Valores unicos account.Contract: {df_norm['account.Contract'].unique()} y su tipo de datos es: {df_norm['account.Contract'].dtype}')
print(f'Valores unicos account.PaperlessBilling: {df_norm['account.PaperlessBilling'].unique()} y su tipo de datos es: {df_norm['account.PaperlessBilling'].dtype}')
print(f'Valores unicos account.PaymentMethod: {df_norm['account.PaymentMethod'].unique()} y su tipo de datos es: {df_norm['account.PaymentMethod'].dtype}')

Valores unicos customerID: ['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH'] y su tipo de datos es: object
Valores unicos customer.gender: ['Female' 'Male'] y su tipo de datos es: object
Valores unicos customer.Partner: ['Yes' 'No'] y su tipo de datos es: object
Valores unicos customer.Dependents: ['Yes' 'No'] y su tipo de datos es: object
Valores unicos phone.PhoneService: ['Yes' 'No'] y su tipo de datos es: object
Valores unicos phone.MultipleLines: ['No' 'Yes' 'No phone service'] y su tipo de datos es: object
Valores unicos internet.InternetService: ['DSL' 'Fiber optic' 'No'] y su tipo de datos es: object
Valores unicos internet.OnlineSecurity: ['No' 'Yes' 'No internet service'] y su tipo de datos es: object
Valores unicos internet.OnlineBackup: ['Yes' 'No' 'No internet service'] y su tipo de datos es: object
Valores unicos internet.DeviceProtection: ['No' 'Yes' 'No internet service'] y su tipo de datos es: object
Valores unicos internet.TechSupport: ['Yes' 'No' 'No internet service'] y su tipo de datos es: object
Valores unicos internet.StreamingTV: ['Yes' 'No' 'No internet service'] y su tipo de datos es: object
Valores unicos internet.StreamingMovies: ['No' 'Yes' 'No internet service'] y su tipo de datos es: object
Valores unicos account.Contract: ['One year' 'Month-to-month' 'Two year'] y su tipo de datos es: object
Valores unicos account.PaperlessBilling: ['Yes' 'No'] y su tipo de datos es: object
Valores unicos account.PaymentMethod: ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)'] y su tipo de datos es: object

In [54]:
# Si se desea crear un DataFrame donde cada columna contenga los valores 칰nicos (cuidado si las longitudes son diferentes):
# Las casillas se llenaran con datos NaN ya que sus longitudes son diferentes no por que haya datos null en las casillas.

## DF Valores unicos text excepto ID
from itertools import zip_longest
unique_genders = df_norm['customer.gender'].unique()
unique_customer_Partner = df_norm['customer.Partner'].unique()
unique_Dependents = df_norm['customer.Dependents'].unique()
unique_PhoneService = df_norm['phone.PhoneService'].unique()
unique_MultipleLines = df_norm['phone.MultipleLines'].unique()
unique_InternetService = df_norm['internet.InternetService'].unique()
unique_OnlineSecurity = df_norm['internet.OnlineSecurity'].unique()
unique_OnlineBackup = df_norm['internet.OnlineBackup'].unique()
unique_DeviceProtection = df_norm['internet.DeviceProtection'].unique()
unique_TechSupport = df_norm['internet.TechSupport'].unique()
unique_StreamingTV = df_norm['internet.StreamingTV'].unique()
unique_streaming_Movies = df_norm['internet.StreamingMovies'].unique()
unique_Contract = df_norm['account.Contract'].unique()
unique_PaperlessBilling = df_norm['account.PaperlessBilling'].unique()
unique_PaymentMethod = df_norm['account.PaymentMethod'].unique()
Text_unique_df = pd.DataFrame(dict(
      customer_gender_unique = pd.Series(unique_genders).head(4), #Con head(Buscamos definir una longitud igual para todos),
      customer_Partner_unique = pd.Series(unique_customer_Partner),
      Customer_generder_unique =  pd.Series(unique_genders),
      customer_Dependents_unique = pd.Series(unique_Dependents),
      phone_PhoneService_unique = pd.Series(unique_PhoneService),
      phone_MultipleLines_unique = pd.Series(unique_MultipleLines),
      internet_InternetService_unique = pd.Series(unique_InternetService),
      internet_OnlineSecurity_unique = pd.Series(unique_OnlineSecurity),
      internet_OnlineBackup_unique = pd.Series(unique_OnlineBackup),
      internet_DeviceProtection_unique = pd.Series(unique_DeviceProtection),
      internet_TechSupport_unique = pd.Series(unique_TechSupport),
      internet_StreamingTV_unique = pd.Series(unique_StreamingTV),
      internet_StreamingMovies_unique = pd.Series(unique_streaming_Movies),
      account_Contract_unique = pd.Series(unique_Contract),
      account_PaperlessBilling_unique = pd.Series(unique_PaperlessBilling),
      account_PaymentMethod_unique = pd.Series(unique_PaymentMethod)
 ))
display(Text_unique_df)

,customer_gender_unique,customer_Partner_unique,Customer_generder_unique,customer_Dependents_unique,phone_PhoneService_unique,phone_MultipleLines_unique,internet_InternetService_unique,internet_OnlineSecurity_unique,internet_OnlineBackup_unique,internet_DeviceProtection_unique,internet_TechSupport_unique,internet_StreamingTV_unique,internet_StreamingMovies_unique,account_Contract_unique,account_PaperlessBilling_unique,account_PaymentMethod_unique
0,Female,Yes,Female,Yes,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check
1,Male,No,Male,No,No,Yes,Fiber optic,Yes,No,Yes,No,No,Yes,Month-to-month,No,Electronic check
2,NaN,NaN,NaN,NaN,NaN,No phone service,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,NaN,Credit card (automatic)
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bank transfer (automatic)

De este Analisis podemos observar que muchas de las columnas que contiene strings presentan un tercer dato que es similar a solo decir "No" tiene x servicio contrado o incluido. Esto se puede adaptar.

Tambien se puede evaluar si se convierte a Date Time la columna 'account_Contract'.

##### **ID**

In [74]:
import re

# Definir el patr칩n de expresi칩n regular: 4 n칰meros, guion, 4 letras may칰sculas
pattern = r'^\d{4}-[A-Z]{5}$'

# Aplicar el patr칩n a la columna 'customerID'
# Creamos una serie booleana que es True si el ID coincide con el patr칩n, False en caso contrario
matches_pattern = df_norm['customerID'].astype(str).apply(lambda x: bool(re.fullmatch(pattern, x)))

# Contar cu치ntos IDs cumplen y no cumplen con el formato
num_matching = matches_pattern.sum()
num_non_matching = len(df_norm) - num_matching

print(f"Total de IDs: {len(df_norm)}")
print(f"IDs que cumplen con el formato (4 n칰meros-5 letras may칰sculas): {num_matching}")
print(f"IDs que NO cumplen con el formato: {num_non_matching}")

if num_non_matching > 0:
    print("\nEjemplos de IDs que NO cumplen con el formato:")
    display(df_norm[~matches_pattern].head())
else:
    print("\nTodos los IDs cumplen con el formato especificado.")

Total de IDs: 7267
IDs que cumplen con el formato (4 n칰meros-5 letras may칰sculas): 7267
IDs que NO cumplen con el formato: 0

Todos los IDs cumplen con el formato especificado.

#### **N칰merico**

In [56]:
## Analizamos para los datos con type n칰merico
print(f'Valores unicos customer.SeniorCitizen: {df_norm['customer.SeniorCitizen'].unique()} y su tipo de datos es: {df_norm['customer.SeniorCitizen'].dtype}')
print(f'Valores unicos customer.tenure: {df_norm['customer.tenure'].unique()} y su tipo de datos es: {df_norm['customer.tenure'].dtype}')
print(f'Valores unicos account.Charges.Monthly: {df_norm['account.Charges.Monthly'].unique()} y su tipo de datos es: {df_norm['account.Charges.Monthly'].dtype}')

Valores unicos customer.SeniorCitizen: [0 1] y su tipo de datos es: int64
Valores unicos customer.tenure: [ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 11 37 49 66
 67 20 43 59 12 27  2 25 29 14 35 64 39 40  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 51 31 36 17 18 38 42
  0] y su tipo de datos es: int64
Valores unicos account.Charges.Monthly: [65.6  59.9  73.9  ... 91.75 68.8  67.85] y su tipo de datos es: float64

In [63]:
account_Charges_Montly_unique = df_norm['account.Charges.Monthly'].unique()
account_Charges_Montly_unique

array([65.6 , 59.9 , 73.9 , ..., 91.75, 68.8 , 67.85])

##### **account.Charges.Monthly**

In [64]:
print(f"Tipo de datos de 'account.Charges.Monthly': {df_norm['account.Charges.Monthly'].dtype}")
print(f"N칰mero de valores nulos en 'account.Charges.Monthly': {df_norm['account.Charges.Monthly'].isnull().sum()}")

# Verificar si todos los valores tienen dos decimales
# Una forma m치s robusta es convertir a string y verificar la parte decimal.

has_two_decimals = df_norm['account.Charges.Monthly'].apply(lambda x: len(str(x).split('.')[-1]) == 2 if '.' in str(x) else False)

if has_two_decimals.all():
    print("Todos los valores en 'account.Charges.Monthly' tienen exactamente dos decimales.")
else:
    print("Algunos valores en 'account.Charges.Monthly' no tienen exactamente dos decimales.")
    # Mostrar ejemplos de valores que no cumplen con el formato
    print("Ejemplos de valores que no tienen dos decimales:")
    display(df_norm[~has_two_decimals][['customerID', 'account.Charges.Monthly']].head(10))

Tipo de datos de 'account.Charges.Monthly': float64
N칰mero de valores nulos en 'account.Charges.Monthly': 0
Algunos valores en 'account.Charges.Monthly' no tienen exactamente dos decimales.
Ejemplos de valores que no tienen dos decimales:

    customerID  account.Charges.Monthly
0   0002-ORFBO                     65.6
1   0003-MKNFE                     59.9
2   0004-TLHLJ                     73.9
3   0011-IGKFF                     98.0
4   0013-EXCHZ                     83.9
5   0013-MHZWF                     69.4
6   0013-SMEOE                    109.7
8   0015-UOCOJ                     48.2
10  0017-DINOC                     45.2
11  0017-IUDMW                    116.8

In [67]:
df_norm.query('customerID == "0002-ORFBO"')

# O alternativamente, sin usar .query():
# df_norm[df_norm['customerID'] == '0002-ORFBO']

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,internet.OnlineSecurity,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3

In [70]:
df_norm[df_norm['customerID'] == '7968-QUXNS']

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,internet.OnlineSecurity,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
5824,7968-QUXNS,No,Male,0,No,No,6,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,18.95,110.15

Para esta Columna se evidencian que hay valores con dos decimales y otros con solo 1 decimal.

##### **account.Charges.Total**

In [71]:
df_norm['account.Charges.Total'].unique()

array(['593.3', '542.4', '280.85', ..., '742.9', '4627.65', '3707.6'],
      dtype=object)

In [72]:
print(f"Tipo de datos de 'account.Charges.Total': {df_norm['account.Charges.Total'].dtype}")
print(f"N칰mero de valores nulos en 'account.Charges.Total': {df_norm['account.Charges.Total'].isnull().sum()}")

# Verificar si todos los valores tienen dos decimales
# Una forma m치s robusta es convertir a string y verificar la parte decimal.

has_two_decimals_ACT = df_norm['account.Charges.Total'].apply(lambda x: len(str(x).split('.')[-1]) == 2 if '.' in str(x) else False)

if has_two_decimals_ACT.all():
    print("Todos los valores en 'account.Charges.Total' tienen exactamente dos decimales.")
else:
    print("Algunos valores en 'account.Charges.Total' no tienen exactamente dos decimales.")
    # Mostrar ejemplos de valores que no cumplen con el formato
    print("Ejemplos de valores que no tienen dos decimales:")
    display(df_norm[~has_two_decimals_ACT][['customerID', 'account.Charges.Total']].head(10))

Tipo de datos de 'account.Charges.Total': object
N칰mero de valores nulos en 'account.Charges.Total': 0
Algunos valores en 'account.Charges.Total' no tienen exactamente dos decimales.
Ejemplos de valores que no tienen dos decimales:

    customerID account.Charges.Total
0   0002-ORFBO                 593.3
1   0003-MKNFE                 542.4
4   0013-EXCHZ                 267.4
7   0014-BMAQU                5377.8
9   0016-QLJIS                5957.9
12  0018-NYROU                 351.5
14  0019-GFNTW                2560.1
15  0020-INWCK                6849.4
16  0020-JDNXP                1993.2
17  0021-IKXGC                  72.1

En esta columna sumado a que esta mal su tipo de dato tambine presente irregularidad en cuanto a la cantidad de decimales de su datos.

### **Sintesis Analisis Inicial**

De la evaluaci칩n preliminar del df_norm, se tienen los siguientes puntos a trabajar:

- Para algunas columnas type object que contiene strings cambiar la tercera opci칩n a un No ya que la respuesta es similar a esta categoria.
- Para las dos ultimas columnas del df_norm dejar todos los resultados con 2 decimales.
- Para la ultima columna del df corregir su data type.
- Evaluar si la columna del tiempo de contrato se puede convertir a Date time.
- Corregir los espacios vacios de las dos columnas identificadas.

### **Manejo de Incosistencias**

In [ ]:
# Convertir 'account.Charges.Total' a tipo num칠rico, reemplazando vac칤os con NaN
df_norm['account.Charges.Total'] = pd.to_numeric(df_norm['account.Charges.Total'], errors='coerce')

# Verificar los cambios
print('Tipo de dato actualizado para account.Charges.Total:')
print(df_norm['account.Charges.Total'].dtype)
print('\nValores nulos en account.Charges.Total despu칠s de la conversi칩n:')
print(df_norm['account.Charges.Total'].isnull().sum())

## 游늵 **Carga y an치lisis**

## 游늯**Informe final**